<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Arch Linux</title>
    <link rel="stylesheet" type="text/css" href="/static/archweb.11772e4a3197.css" media="screen" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.29302f683ff8.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.29302f683ff8.ico" />
    <link rel="apple-touch-icon" href="/static/logos/apple-touch-icon-57x57.0cd0ab3349e2.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/logos/apple-touch-icon-72x72.e502bac6368f.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/logos/apple-touch-icon-114x114.343cca8f850e.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/logos/apple-touch-icon-144x144.38cf584757c3.png" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch/packages/" title="Arch Linux Packages" />
    
<link rel="alternate" type="application/rss+xml" title="Arch Linux News Updates" href="/feeds/news/" />
<link rel="alternate" type="application/rss+xml" title="Arch Linux Package Updates" href="/feeds/packages/" />
<script type="text/javascript" src="/static/homepage.6c5f3f9460d7.js" defer></script>

</head>
<body class="">
    <div id="archnavbar" class="anb-home">
        <div id="archnavbarlogo"><h1><a href="/" title="Return to the main page">Arch Linux</a></h1></div>
        <div id="archnavbarmenu">
            <ul id="archnavbarlist">
                <li id="anb-home"><a href="/" title="Arch news, packages, projects and more">Home</a></li>
                <li id="anb-packages"><a href="/packages/" title="Arch Package Database">Packages</a></li>
                <li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">Forums</a></li>
                <li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">Wiki</a></li>
                <li id="anb-bugs"><a href="https://bugs.archlinux.org/" title="Report and track bugs">Bugs</a></li>
                <li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux Security Tracker">Security</a></li>
                <li id="anb-aur"><a href="https://aur.archlinux.org/" title="Arch Linux User Repository">AUR</a></li>
                <li id="anb-download"><a href="/download/" title="Get Arch Linux">Download</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="archdev-navbar">
            
        </div>
        
        
            <div id="content-left-wrapper">
                <div id="content-left">
                    

<div id="intro" class="box">
    <h2>A simple, lightweight distribution</h2>

    <p>You've reached the website for <strong>Arch Linux</strong>, a
    lightweight and flexible Linux® distribution that tries to Keep It
    Simple.</p>

    <p>Currently we have official packages optimized for the x86-64
    architecture. We complement our official package sets with a
    <a href="https://aur.archlinux.org/" title="Arch User Repository (AUR)">
        community-operated package repository</a> that grows in size and
    quality each and every day.</p>

    <p>Our strong community is diverse and helpful, and we pride ourselves
    on the range of skillsets and uses for Arch that stem from it. Please
    check out our <a href="https://bbs.archlinux.org/" title="Arch Forums">forums</a>
    and <a href="https://mailman.archlinux.org/mailman/listinfo/"
        title="Arch Mailing Lists">mailing lists</a>
    to get your feet wet. Also glance through our <a href="https://wiki.archlinux.org/"
        title="Arch Wiki">wiki</a>
    if you want to learn more about Arch.</p>

    <p class="readmore"><a href="/about/"
        title="Learn more about Arch Linux">Learn more...</a></p>
</div>

<div id="news">
    <h3>
        <a href="/news/" title="Browse the news archives">Latest News</a>
        <span class="arrow"></span>
    </h3>

    <a href="/feeds/news/" title="Arch News RSS Feed"
        class="rss-icon"><img width="16" height="16" src="/static/rss.c5ebdc5318d6.png" alt="RSS Feed" /></a>

    
    <h4>
        <a href="/news/arch-conf-2020-schedule/"
            title="View full article: Arch Conf 2020 schedule">Arch Conf 2020 schedule</a>
    </h4>
    <p class="timestamp">2020-09-23</p>
    <div class="article-content">
        <p>On the 10th and 11th of October there is going to be an online edition of Arch
Conf. The conference is going to have presentations from the Arch team along
with community submitted presentations and lightning talks.</p>
<p>We are proud to announce the first revision of the schedule!</p>
<p><a href="https://pretalx.com/arch-conf-online-2020/talk/">https://pretalx.com/arch-conf-online-2020/talk/</a></p>
<p>The conference timezone is CEST/UTC+2: <a href="https://everytimezone.com/s/40cc4784">https://everytimezone.com/s/40cc4784</a></p>
<p>Updates and additional information can be found on the conference page: <a href="https://conf.archlinux.org">https://conf.archlinux.org</a></p>
<p>See you there!</p>
<p>Cheers from the conference team.</p>
        
    </div>
    
    <h4>
        <a href="/news/kill-arch-bugs-help-us-on-the-13th-of-september/"
            title="View full article: Kill Arch Bugs: Help us on the 13th of September!">Kill Arch Bugs: Help us on the 13th of September!</a>
    </h4>
    <p class="timestamp">2020-09-09</p>
    <div class="article-content">
        <p>We would like to hold a bug wrangling day on the 13th of September to reduce the large amount of open tickets.
If you cannot take part in the bug wrangling day, then feel free to help us any time before that event.</p>
<h3>How?</h3>
<p>Please review all bugs that were reported by you and check if they are still
valid. Please request a task closure on the bug tracker if the task may be closed. Otherwise please provide further information so that we can continue to work on the bug.
We cannot fix bugs without your feedback.</p>
<h3>Questions?</h3>
<p>Join us …</p>
    </div>
    
    <h4>
        <a href="/news/aur-migration-new-ssh-hostkeys/"
            title="View full article: AUR Migration: New SSH HostKeys">AUR Migration: New SSH HostKeys</a>
    </h4>
    <p class="timestamp">2020-07-28</p>
    <div class="article-content">
        <p>Due to the fact that the AUR has been migrated to a new server, the SSH HostKeys used to connect to the host have changed. These are the new keys fingerprints:</p>
<pre><code>Ed25519: SHA256:RFzBCUItH9LZS0cKB5UE6ceAYhBD5C8GeOBip8Z11+4
ECDSA: SHA256:uTa/0PndEgPZTf76e1DFqXKJEXKsn7m9ivhLQtzGOCI
RSA: SHA256:5s5cIyReIfNNVGRFdDbe3hdYiI5OelHGpw2rOUud3Q8
</code></pre>
<p>The fingerprints above can also be found on the AUR home page when not logged in.</p>
    </div>
    
    <h4>
        <a href="/news/zn_poly-092-2-update-requires-manual-intervention/"
            title="View full article: zn_poly 0.9.2-2 update requires manual intervention">zn_poly 0.9.2-2 update requires manual intervention</a>
    </h4>
    <p class="timestamp">2020-04-14</p>
    <div class="article-content">
        <p>The zn_poly package prior to version 0.9.2-2 was missing a soname link. 
This has been fixed in 0.9.2-2, so the upgrade will need to overwrite the 
untracked files created by ldconfig. If you get an error</p>
<pre><code>zn_poly: /usr/lib/libzn_poly-0.9.so  exists in filesystem
</code></pre>
<p>when updating, use</p>
<pre><code>pacman -Syu --overwrite usr/lib/libzn_poly-0.9.so
</code></pre>
<p>to perform the upgrade.</p>
    </div>
    
    <h4>
        <a href="/news/nss3511-1-and-lib32-nss3511-1-updates-require-manual-intervention/"
            title="View full article: nss&gt;=3.51.1-1 and lib32-nss&gt;=3.51.1-1 updates require manual intervention">nss&gt;=3.51.1-1 and lib32-nss&gt;=3.51.1-1 updates require manual intervention</a>
    </h4>
    <p class="timestamp">2020-04-13</p>
    <div class="article-content">
        <p>The nss and lib32-nss packages prior to version 3.51.1-1 were missing a soname link each. This has been fixed in 3.51.1-1, so the upgrade will need to overwrite the untracked files created by ldconfig. If you get any of these errors</p>
<pre><code>nss: /usr/lib/p11-kit-trust.so exists in filesystem
lib32-nss: /usr/lib32/p11-kit-trust.so exists in filesystem
</code></pre>
<p>when updating, use</p>
<pre><code>pacman -Syu --overwrite /usr/lib\*/p11-kit-trust.so
</code></pre>
<p>to perform the upgrade.</p>
    </div>
    
    <h3>
        <a href="/news/"
            title="Browse the news archives">Older News</a>
        <span class="arrow"></span>
    </h3>
    <dl class="newslist">
    
        <dt>2020-03-19</dt>
        <dd>
            <a href="/news/hplip-3203-2-update-requires-manual-intervention/"
                title="View full article: hplip 3.20.3-2 update requires manual intervention">hplip 3.20.3-2 update requires manual intervention</a>
        </dd>
    
    
        <dt>2020-03-01</dt>
        <dd>
            <a href="/news/firewalld081-2-update-requires-manual-intervention/"
                title="View full article: firewalld&gt;=0.8.1-2 update requires manual intervention">firewalld&gt;=0.8.1-2 update requires manual intervention</a>
        </dd>
    
    
        <dt>2020-02-24</dt>
        <dd>
            <a href="/news/the-future-of-the-arch-linux-project-leader/"
                title="View full article: The Future of the Arch Linux Project Leader">The Future of the Arch Linux Project Leader</a>
        </dd>
    
    
        <dt>2020-02-22</dt>
        <dd>
            <a href="/news/planet-arch-linux-migration/"
                title="View full article: Planet Arch Linux migration">Planet Arch Linux migration</a>
        </dd>
    
    
        <dt>2020-02-17</dt>
        <dd>
            <a href="/news/sshd-needs-restarting-after-upgrading-to-openssh-82p1/"
                title="View full article: sshd needs restarting after upgrading to openssh-8.2p1">sshd needs restarting after upgrading to openssh-8.2p1</a>
        </dd>
    
    
        <dt>2020-01-15</dt>
        <dd>
            <a href="/news/rsync-compatibility/"
                title="View full article: rsync compatibility">rsync compatibility</a>
        </dd>
    
    
        <dt>2020-01-04</dt>
        <dd>
            <a href="/news/now-using-zstandard-instead-of-xz-for-package-compression/"
                title="View full article: Now using Zstandard instead of xz for package compression">Now using Zstandard instead of xz for package compression</a>
        </dd>
    
    
        <dt>2019-12-20</dt>
        <dd>
            <a href="/news/xorg-cleanup-requires-manual-intervention/"
                title="View full article: Xorg cleanup requires manual intervention">Xorg cleanup requires manual intervention</a>
        </dd>
    
    
        <dt>2019-11-25</dt>
        <dd>
            <a href="/news/primus_vk13-1-update-requires-manual-intervention/"
                title="View full article: primus_vk&gt;=1.3-1 update requires manual intervention">primus_vk&gt;=1.3-1 update requires manual intervention</a>
        </dd>
    
    
        <dt>2019-11-10</dt>
        <dd>
            <a href="/news/new-kernel-packages-and-mkinitcpio-hooks/"
                title="View full article: New kernel packages and mkinitcpio hooks">New kernel packages and mkinitcpio hooks</a>
        </dd>
    </dl>
    
</div>


                </div>
            </div>
            <div id="content-right">
                

<div id="pkgsearch" class="widget">
    <form id="pkgsearch-form" method="get" action="/packages/">
        <fieldset>
            <label for="pkgsearch-field">Package Search:</label>
            <input id="pkgsearch-field" type="text" name="q" size="18" maxlength="200" autocomplete="off" />
        </fieldset>
    </form>
</div>

<div id="pkg-updates" class="widget box">
    <h3>Recent Updates <span class="more">(<a href="/packages/?sort=-last_update"
            title="Browse all of the latest packages">more</a>)</span></h3>

    <a href="/feeds/packages/" title="Arch Package Updates RSS Feed"
        class="rss-icon"><img width="16" height="16" src="/static/rss.c5ebdc5318d6.png" alt="RSS Feed" /></a>

    <table>
        
        <tr>
            <td class="pkg-name"><span class="community">docker 1:19.03.13-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/docker/"
                    title="Details for docker [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="extra">bind 9.16.7-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/extra/x86_64/bind/"
                    title="Details for bind [extra]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">fcitx5 0.0.0.20200926-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/fcitx5/"
                    title="Details for fcitx5 [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">arch-hs 0.1.0.0-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/arch-hs/"
                    title="Details for arch-hs [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">python-funcy 1.15-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/any/python-funcy/"
                    title="Details for python-funcy [community]">any</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">emacs-nox 27.1-2</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/emacs-nox/"
                    title="Details for emacs-nox [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">giada 0.16.4-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/giada/"
                    title="Details for giada [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">nodejs-lts-erbium 12.18.4-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/nodejs-lts-erbium/"
                    title="Details for nodejs-lts-erbium [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">nodejs-lts-dubnium 10.22.1-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/nodejs-lts-dubnium/"
                    title="Details for nodejs-lts-dubnium [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community">libva-utils 2.9.1-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community/x86_64/libva-utils/"
                    title="Details for libva-utils [community]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="extra">libnitrokey 3.6-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/extra/x86_64/libnitrokey/"
                    title="Details for libnitrokey [extra]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community-testing testing">opendht 1:2.1.6-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community-testing/x86_64/opendht/"
                    title="Details for opendht [community-testing]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community-testing testing">libsecp256k1 20200919+1172+gd7838ba-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community-testing/x86_64/libsecp256k1/"
                    title="Details for libsecp256k1 [community-testing]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community-testing testing">libjamiclient 20200921-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community-testing/x86_64/libjamiclient/"
                    title="Details for libjamiclient [community-testing]">x86_64</a>
            </td>
        </tr>
        
        <tr>
            <td class="pkg-name"><span class="community-testing testing">jami-gnome 20200921-1</span></td>
            <td class="pkg-arch">
                <a href="/packages/community-testing/x86_64/jami-gnome/"
                    title="Details for jami-gnome [community-testing]">x86_64</a>
            </td>
        </tr>
        
    </table>
</div>



<div id="nav-sidebar" class="widget">
    <h4>Documentation</h4>
    <ul>
        <li><a href="https://wiki.archlinux.org/"
            title="Community documentation">Wiki</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/Installation_guide"
            title="Installation guide">Installation Guide</a></li>
    </ul>

    <h4>Community</h4>
    <ul>
        <li><a href="https://mailman.archlinux.org/mailman/listinfo/"
            title="Community and developer mailing lists">Mailing Lists</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/IRC_channels"
            title="Official and regional IRC communities">IRC Channels</a></li>
        <li><a href="https://planet.archlinux.org/"
            title="Arch in the blogosphere">Planet Arch</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/International_communities"
            title="Arch communities in your native language">International Communities</a></li>
    </ul>

    <h4>Support</h4>
    <ul>
        <li><a href="/donate/" title="Help support Arch Linux">Donate</a></li>
        <li><a href="https://www.zazzle.com/archlinux*"
            title="T-shirts, mugs, mouse pads, hoodies, posters, skateboards, shoes, etc.">Products via Zazzle</a></li>
        <li><a href="https://www.unixstickers.com/tag/archlinux" title="Arch
	Linux stickers, t-shirts, hoodies, mugs, posters and pins">Products via Unixstickers</a></li>
        <li><a href="https://www.freewear.org/?page=list_items&amp;org=Archlinux"
            title="T-shirts">T-shirts via Freewear</a></li>
        <li><a href="https://www.hellotux.com/arch"
            title="T-shirts">T-shirts via HELLOTUX</a></li>
    </ul>

    <h4>Tools</h4>
    <ul>
        <li><a href="/mirrorlist/"
            title="Get a custom mirrorlist from our database">Mirrorlist Updater</a></li>
        <li><a href="/mirrors/"
            title="See a listing of all available mirrors">Mirror List</a></li>
        <li><a href="/mirrors/status/"
            title="Check the status of all known mirrors">Mirror Status</a></li>
    </ul>

    <h4>Development</h4>
    <ul>
        <li><a href="https://wiki.archlinux.org/index.php/Getting_involved"
            title="Getting involved">Getting involved</a></li>
        <li><a href="https://projects.archlinux.org/"
            title="Official Arch projects (git)">Projects in Git</a></li>
        <li><a href="/svn/"
            title="View SVN entries for packages">SVN Repositories</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/DeveloperWiki"
            title="Developer Wiki articles">Developer Wiki</a></li>
        <li><a href="/groups/"
            title="View the available package groups">Package Groups</a></li>
        <li><a href="/todo/"
            title="Developer Todo Lists">Todo Lists</a></li>
        <li><a href="/releng/releases/"
            title="Release Engineering ISO listing">ISO Release List</a></li>
        <li><a href="/visualize/"
            title="View visualizations">Visualizations</a></li>
        <li><a href="/packages/differences/"
            title="See differences in packages between available architectures">Differences Reports</a></li>
    </ul>

    <h4>People</h4>
    <ul>
        
        <li><a href="/people/developers/" title="More info about Developers">Developers</a></li>
        
        <li><a href="/people/trusted-users/" title="More info about Trusted Users">Trusted Users</a></li>
        
        <li><a href="/people/support-staff/" title="More info about Support Staff">Support Staff</a></li>
        
        <li><a href="/people/developer-fellows/" title="More info about Developer Fellows">Developer Fellows</a></li>
        
        <li><a href="/people/trusted-user-fellows/" title="More info about Trusted User Fellows">Trusted User Fellows</a></li>
        
        <li><a href="/people/support-staff-fellows/" title="More info about Support Staff Fellows">Support Staff Fellows</a></li>
        
        <li><a href="/master-keys/"
            title="Package/Database signing master keys">Signing Master Keys</a></li>
    </ul>

    <h4>More Resources</h4>
    <ul>
        <li><a href="https://wiki.archlinux.org/index.php/Arch_Linux_press_coverage"
            title="Arch Linux in the media">Press Coverage</a></li>
        <li><a href="/art/" title="Arch logos and other artwork for promotional use">Logos &amp; Artwork</a></li>
        <li><a href="/news/" title="News Archives">News Archives</a></li>
        <li><a href="/feeds/" title="Various RSS Feeds">RSS Feeds</a></li>
    </ul>
</div>

<div id="home-donate-button" class="widget">
    <a href="https://co.clickandpledge.com/Default.aspx?WID=47294">
        <img src="/static/click_and_pledge.46105c057763.png" alt="Donate via Click&amp;Pledge to Arch Linux" title="Donate via Click&amp;Pledge to Arch Linux"/>
    </a>
</div>

<div class="widget">
    <a href="https://www.hetzner.com" title="Dedicated Root Server, VPS &amp; Hosting - Hetzner Online GmbH">
        <img src="/static/hetzner_logo.30fcfd907a4f.png"
            title="" alt="Hetzner logo"/>
    </a>

    <a href="https://icons8.com/" title="Icons8">
        <img src="/static/icons8_logo.91378e9a3b77.png"
            title="" alt="Icons8 logo"/>
    </a>
</div>


            </div>
        
        <div id="footer">
            <p>Copyright © 2002-2020 <a href="mailto:jvinet@zeroflux.org"
                title="Contact Judd Vinet">Judd Vinet</a> and <a href="mailto:aaron@archlinux.org"
                title="Contact Aaron Griffin">Aaron Griffin</a>.</p>

            <p>The Arch Linux name and logo are recognized
            <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy"
                title="Arch Linux Trademark Policy">trademarks</a>. Some rights reserved.</p>

            <p>The registered trademark Linux® is used pursuant to a sublicense from LMI,
            the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.</p>
        </div>
    </div>
    <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://www.archlinux.org/",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "https://www.archlinux.org/packages/?q={search_term}",
         "query-input": "required name=search_term"
       }
    }
    </script>
    
</body>
</html>
